// Copyright

.academy-copyright {
  display: flex;
  align-items: center;
}

.academy-copyright__text {
  line-height: $line-height-m;
  margin-right: 16px;

  @include media-desktop {
    font-size: $font-size-l;
    margin-right: 13px;
  }
}

.academy-copyright__link {
  color: $basic-accent-color;
  transition: color 0.25s;

  &[href]:hover {
    color: $basic-text-color;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @include media-tablet {
    margin-top: 1px;
  }
}

.academy-copyright__logo {
  display: block;
}
