// Bullet

.bullet {
  display: block;
  width: 6px;
  height: 6px;
  background-color: rgba($blue-grey, 0.3);
  border-radius: 50%;

  &:hover {
    background-color: rgba($blue-grey, 0.6);
  }

  &:active {
    background-color: rgba($blue-grey, 0.1);
  }

  &:not(:last-child) {
    margin-right: 19px;
  }

  &--active {
    background-color: $white;
    box-shadow: 0 0 0 3px $dark-border-color;

    &:hover {
      background-color: $white;
    }

    &:active {
      background-color: $white;
    }
  }
}
