// Button

.button {
  @include button-reset;
  color: $white;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  background-color: $basic-button-color;
  padding: 20px;
  border-radius: 3px;
  cursor: pointer;
}
