// Button

.button {
  @include button-reset;
  color: $white;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  background-color: $basic-button-color;
  padding: 20px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $hover-button-color;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $hover-button-color;
  }

  &:disabled {
    background-color: $disabled-button-color;
    cursor: default;
  }
}
