// Contacts

.contacts__address-container {
  position: relative;
  padding: 41px 0 34px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33px;
    transform: translateY(100%);
    background-color: $white;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
  }

  @include media-tablet {
    padding: 44px 0 23px;

    &::after {
      height: 68px;
    }
  }

  @include media-desktop {
    padding: 59px 0 10px;

    &::after {
      height: 103px;
    }
  }
}

.contacts__headline {
  @include font-params($font-size-2xl, $font-weight-thin, $line-height-m);
  text-align: center;
  margin: 0;
  margin-bottom: 34px;

  @include media-tablet {
    font-size: $font-size-4xl;
    line-height: $line-height-4xl;
    margin-bottom: 33px;
  }

  @include media-desktop {
    font-size: $font-size-5xl;
    line-height: $line-height-5xl;
    margin-bottom: 40px;
  }
}

.contacts__text {
  @include font-params($font-size-2xl, $font-weight-thin, $line-height-xl);
  text-align: center;
  margin: 0;

  &--colored {
    color: $basic-link-color;
  }
}

.contacts__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media-tablet {
    flex-direction: row;
  }
}

.contacts__item {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 22px;
  }

  &:first-child {
    margin-bottom: 18px;
  }

  @include media-tablet {
    width: calc(100% / 2 - 10px);

    &:not(:last-child) {
      margin-bottom: 42px;
    }

    &:nth-child(odd):last-child {
      margin: 0 auto;
    }
  }

  @include media-desktop {
    width: calc(100% / 3 - 10px);

    &--end {
      order: 3;
    }
  }
}

.contacts__title {
  font-size: $font-size-l;
  margin: 0;

  @include media-tablet {
    margin-bottom: 4px;
  }

  @include media-desktop {
    margin-bottom: 21px;
  }
}

.contacts__link {
  color: $basic-link-color;
  text-decoration: none;
  transition: color 0.25s;

  &[href]:hover {
    color: $basic-text-color;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
    text-decoration: none;
  }
}

.contacts__map-frame {
  display: block;
  width: 100%;
  height: 200px;
  border: none;

  @include media-tablet {
    height: 374px;
  }

  @include media-desktop {
    height: 502px;
  }
}
