// Contest Form

.contest-form {
  padding-bottom: 19px;

  @include media-tablet {
    padding-bottom: 48px;
  }

  @include media-desktop {
    padding-bottom: 0;
  }
}

@include media-mobile-only {
  .contest-form__inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.contest-form__container {
  display: grid;
  grid-template-areas:
    "N"
    "T"
    "C"
    "P"
    "I"
    "S";
  row-gap: 20px;

  @include media-tablet {
    grid-template-areas:
      "N"
      "P"
      "C"
      "T"
      "I"
      "S";
    row-gap: 60px;
  }

  @include media-desktop {
    grid-template-areas:
      "N P"
      "C C"
      "T T"
      "I I"
      "S S";
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    row-gap: 57px;
  }
}

.contest-form__fieldset-wrap {
  &--name {
    grid-area: N;
  }

  &--triumph {
    grid-area: T;
  }

  &--platform {
    grid-area: P;
  }

  &--contacts {
    grid-area: C;
  }

  &--impressions {
    grid-area: I;
  }

  @include media-mobile-only {
    padding: 0 20px 22px;

    &--triumph {
      padding-top: 39px;
      padding-bottom: 45px;
      background-color: $page-section-bg-color;
    }

    &--contacts {
      padding-top: 15px;
    }

    &--platform {
      padding-top: 39px;
      padding-bottom: 44px;
      background-color: $page-section-bg-color;
    }

    &--impressions {
      padding-top: 18px;
    }
  }
}

.contest-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  @include media-tablet {
    position: relative;
    border: 2px solid $basic-border-color;
    padding-left: 58px;
    padding-right: 58px;

    &--platform {
      padding-top: 46px;
      padding-bottom: 56px;
    }

    &--contacts {
      padding-top: 34px;
      padding-bottom: 29px;
    }

    &--triumph {
      padding-top: 42px;
      padding-bottom: 51px;
    }

    &--impressions {
      padding-top: 46px;
      padding-bottom: 44px;
      margin: 6px 0;
    }

    &--name {
      border: none;
      padding: 0;
    }
  }

  @include media-desktop {
    &--contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 33px;
      padding-bottom: 15px;
    }

    &--platform {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 47px;
      padding-bottom: 57px;
    }

    &--name {
      padding-top: 15px;
    }

    &--triumph {
      padding-top: 44px;
      padding-bottom: 58px;
    }

    &--impressions {
      padding-top: 42px;
      padding-bottom: 36px;
      margin: 8px 0;
    }
  }
}

.contest-form__caption {
  line-height: $line-height-s;
  text-align: center;
  text-transform: uppercase;
  color: $contest-caption-color;
  padding: 0 25px;
  margin-bottom: 38px;

  @include media-mobile-only {
    &--no-mobile {
      @include visually-hidden;
    }
  }

  @include media-tablet {
    margin-bottom: 0;
    padding: 0 32px;

    &--platform {
      padding: 0 25px;
    }
  }

  &--impressions {
    display: block;
    width: 100%;
    margin-bottom: 16px;

    @include media-tablet {
      position: absolute;
      top: 0;
      left: 50%;
      width: auto;
      padding: 0 38px;
      background-color: $white;
      transform: translate(-50%, -50%);
    }
  }
}

.contest-form__field-bond {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include media-tablet {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 52px;
    }

    &--contact {
      flex-direction: column-reverse;
      align-items: stretch;

      &:not(:last-child) {
        margin-bottom: 31px;
      }
    }
  }

  @include media-desktop {
    &--contact {
      width: calc(50% - 35px);
    }

    &--contact:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.contest-form__label {
  display: block;
  text-transform: uppercase;
  color: $contest-label-color;
  margin-left: 23px;
  margin-bottom: 8px;

  @include media-tablet {
    margin: 0;
    margin-right: 18px;
  }

  &--contact {
    @include media-tablet {
      padding: 14px 0 0 20px;
    }
  }
}

.contest-form__input {
  font-size: $font-size-l;
  line-height: $line-height-l;

  &--textarea {
    resize: vertical;
    height: auto;
    min-height: 200px;
  }

  @include media-tablet {
    &--textarea {
      min-height: 192px;
    }
  }

  @include media-desktop {
    &--textarea {
      min-height: 128px;
    }
  }
}


.contest-form__input-contact {
  @include media-tablet {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 61px;
      height: 63px;
      background-color: $basic-border-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 63px;
      height: 63px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--tel::after {
      background-image: url("../img/icons/phone-icon.svg");
    }

    &--email::after {
      background-image: url("../img/icons/mail-icon.svg");
    }
  }
}

.contest-form__list {
  @include list-reset;

  @include media-desktop {
    &--triumph {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: 1fr 1fr;
      gap: 46px 54px;
    }
  }
}

.contest-form__item {
  margin-bottom: 46px;

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    margin-bottom: 42px;
  }

  @include media-desktop {
    margin-bottom: 0;

    &--radio {
      padding: 0 52px;
      margin-bottom: 43px;
    }
  }
}

.contest-form__option-label {
  display: block;
  position: relative;
  font-size: $font-size-l;
  padding: 7px 0 5px 59px;
  cursor: pointer;
  user-select: none;

  &--radio {
    padding: 4px 0 5px 70px;
  }

  @include media-tablet {
    padding-left: 60px;
  }
}

/* Checkbox */

.contest-form__checkbox-input + .contest-form__option-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 39px;
  background-color: $white;
  border: 2px solid $basic-border-color;
  border-radius: 2px;
  transition: border-color 0.25s;
}

.contest-form__checkbox-input:hover + .contest-form__option-label::before,
.contest-form__checkbox-input:focus + .contest-form__option-label::before {
  border-color: $basic-text-color;
}

.contest-form__checkbox-input:active + .contest-form__option-label::before {
  border-color: $basic-accent-color;
}

.contest-form__checkbox-input:checked + .contest-form__option-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 39px;
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Radio */

.contest-form__radio-input + .contest-form__option-label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 41px;
  height: 41px;
  background-color: $white;
  border: 2px solid $basic-border-color;
  border-radius: 50%;
  transition: border-color 0.25s;
}

.contest-form__radio-input:hover + .contest-form__option-label::before,
.contest-form__radio-input:focus + .contest-form__option-label::before {
  border-color: $basic-text-color;
}

.contest-form__radio-input:active + .contest-form__option-label::before {
  border-color: $basic-accent-color;
}

.contest-form__radio-input:checked + .contest-form__option-label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 13px;
  width: 15px;
  height: 15px;
  background-color: $basic-accent-color;
  border-radius: 50%;
}

.contest-form__submit {
  grid-area: S;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;

  @include media-tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}

.contest-form__button {
  font-size: $font-size-l;
  min-width: 100%;
  margin-bottom: 37px;

  @include media-tablet {
    min-width: 300px;
    margin-bottom: 0;
  }
}

.contest-form__clarify {
  text-transform: uppercase;
  margin: 0;

  &--colored {
    color: $basic-accent-color;
  }

  &--desktop {
    @include media-except-desktop {
      display: none;
    }
  }
}
