// Download App

.download-app {
  text-align: center;
  background-color: $download-app-bg;
  padding: 28px 0 35px;

  @include media-tablet {
    background-color: transparent;
  }
}


@include media-mobil-only {
  .download-app__inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.download-app__link {
  @include font-params($font-size-l, $font-weight-bold);
  display: block;
  color: $white;
  text-decoration: none;
  border: 3px solid $white;
  border-radius: 30px;
  padding: 12px 10px 13px;
}

.download-app__list-logos {
  @include list-reset;
  display: flex;
  justify-content: center;
}

.download-app__item-logo {
  margin: 0 17px;
}

.download-app__desc {
  font-weight: $font-weight-thin;
  margin: 0;

  @include media-tablet {
    font-size: $font-size-l;
  }
}
