// Feachers

.features__text {
  @include font-params($font-size-2xl, $font-weight-thin, $line-height-m);
  text-align: center;
  padding: 40px 0 30px;

  @include media-tablet {
    font-size: $font-size-4xl;
    line-height: $line-height-4xl;
  }

  @include media-desktop {
    font-size: $font-size-5xl;
    line-height: $line-height-5xl;
  }
}

.features__text p {
  margin: 0;

  @include media-mobil-only {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.features__benefits {
  background-color: $page-section-bg-color;
}

.features__benefits-list {
  @include list-reset;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 325px;

  @include media-tablet {
    text-align: left;
    padding-top: 80px;
    padding-left: 310px;
    padding-bottom: 42px;
  }

  @include media-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    font-size: $font-size-l;
    line-height: $line-height-l;
    text-align: center;
    padding-left: 0;
  }
}

@include media-desktop {
  .features__benefit-item {
    padding: 0 20px;
  }
}

.features__benefit-title {
  @include font-params($font-size-l, $font-weight-bold);
  color: $black;
  margin: 0;
  margin-bottom: 20px;
}

.features__research {
  padding: 100px 0 80px;

  @include media-mobil-only {
    display: none;
  }

  @include media-desktop {
    background-color: $page-section-bg-color;
  }
}

.features__research-container {
  padding-left: 310px;

  @include media-desktop {
    padding-left: 370px;
  }
}

.features__research-title {
  @include font-params($font-size-3xl, $font-weight-bold, $line-height-2xl);
  margin: 0;
  margin-bottom: 20px;
}

.features__research-link {
  color: $basic-link-color;
}
