// Gallery

.gallery__inner {
  display: grid;
  gap: 20px;
  grid-template-columns: 100%;

  @include media-tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include media-desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
}

.gallery__info {
  flex-grow: 1;
}

.gallery__image {
  display: block;
  width: 100%;
}
