// Logo

.logo {
  display: block;
  position: relative;
  width: 74px;
  height: 23px;
  overflow: hidden;
  transition: all 0.25s;

  &[href]:hover {
    color: $basic-accent-color;
  }

  &[href]:active {
    opacity: 0.3;
  }

  &--header {
    color: $white;
  }

  &--header[href]:active {
    color: $white;
  }

  &--footer {
    color: $basic-text-color;

    @include media-mobile-only {
      width: 145px;
      height: 40px;
    }
  }

  &--footer[href]:active {
    color: $basic-text-color;
  }

  @include media-tablet {
    width: 145px;
    height: 40px;
  }

  @include media-desktop {
    width: 147px;
    height: 40px;
  }
}

.logo__image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 147px;
  height: 40px;
}

.logo__stars {
  color: $basic-accent-color;
}

.logo__part-glasses {
  display: none;

  &--footer {
    color: $basic-accent-color;
  }

  @include media-except-desktop {
    display: block;
  }
}

.logo__part-desktop {
  display: none;

  @include media-desktop {
    display: block;
  }
}

.logo__glasses-desktop--footer {
  color: $basic-accent-color;
}

.logo__stars--footer {
  color: $basic-text-color;
}
