// Page Footer

.page-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  @include media-mobile-only {
    margin-bottom: 38px;
  }

  @include media-tablet {
    align-self: flex-start;
  }
}

.page-footer__socials {
  @include media-mobile-only {
    margin-bottom: 38px;
  }

  @include media-tablet {
    margin-left: -14px;
  }

  @include media-desktop {
    margin-left: 5px;
  }
}

.page-footer__copyright {
  margin: 0;
}
