.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  font-family: $main-font;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $basic-text-color;
  margin: 0;
}

.page__footer {
  padding: 40px 0;

  @include media-tablet {
    padding: 36px 0 37px;
  }

  @include media-desktop {
    padding: 70px 0;
  }
}
