// Panorama

.panorama__inner {
  padding: 0 20px;
}

.panorama__pic-title {
  @include font-params(12px, 700);
  text-transform: uppercase;
  color: $white;
  background-color: $basic-pink;
  margin: 0;
}

.panorama__image {
  display: block;
  width: 100%;
}
