// Picture Info

.pic-info {
  display: flex;
  flex-direction: column;
  background-color: $pic-info-bg;
  padding: 18px 5px 19px 17px;

  @include media-tablet {
    padding: 22px 30px 25px 30px;

    &--panorama {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @include media-desktop {
    padding: 24px 30px 23px 27px;
  }
}

.pic-info__desc {
  flex-grow: 1;
  margin: 0;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  @include media-mobile-only {
    margin-bottom: 10px;
  }

  @include media-tablet {
    &--panorama {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }
  }
}

.pic-info__likes {
  display: flex;

  @include media-tablet {
    justify-content: space-between;

    &--panorama {
      justify-content: flex-end;
    }
  }

  @include media-desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.pic-info__like-text {
  margin: 0;

  @include media-tablet {
    &--panorama {
      margin-right: 16px;
      padding-top: 1px;
    }
  }
}

.pic-info__like-button {
  @include button-reset;

  @include media-mobile-only {
    order: -1;
    margin-right: 18px;
  }
}

.pic-info__like-icon {
  color: $basic-accent-color;
}
