// PopUp

.popup {
  display: none;
  position: fixed;
  top: 25vh;
  left: 0;
  right: 0;
  bottom: auto;
  width: 100%;
  max-width: 460px;
  text-align: center;
  margin: auto;
  background-color: $white;
  box-shadow: 0 7px 15px 0 rgba($black, 0.15);
  z-index: 5;

  &--opened {
    display: block;
  }

  @include media-tablet {
    font-size: $font-size-l;
  }

  @include media-desktop {
    max-width: 780px;
  }
}

.popup__content {
  padding: 38px 20px 34px;

  @include media-tablet {
    padding: 38px 75px 30px;
  }

  @include media-desktop {
    padding: 38px 190px;
    min-height: 210px;
  }
}

.popup__title {
  color: $black;
  font-size: $font-size-l;
  margin: 0;
  margin-bottom: 25px;

  @include media-tablet {
    font-size: $font-size-3xl;
    line-height: 40px;
    margin-bottom: 22px;
  }
}

.popup__content p {
  margin: 0;
}

.popup__control {
  padding: 50px 20px;
  background-color: $page-section-bg-color;

  @include media-tablet {
    padding: 50px 80px;
  }

  @include media-desktop {
    padding: 50px 160px;
  }

  &--failure {
    @include media-except-desktop {
      background-color: $white;
      padding-top: 7px;
    }

    @include media-tablet {
      padding-top: 4px;
    }

    @include media-desktop {
      padding-top: 50px;
    }
  }
}

.popup__button {
  width: 100%;
  font-size: $font-size-l;

  @include media-desktop {
    &--failure {
      max-width: 300px;
    }
  }
}
