// Price Table

.price-table {
  position: relative;
  padding: 102px 0 49px;
  background-color: $page-section-bg-color;
  clip-path: polygon(0 20px, 100% 0, 100% 100%, 0 100%);
  overflow: hidden;

  @include media-tablet {
    padding: 98px 0 67px;
    clip-path: polygon(0 40px, 100% 0, 100% 100%, 0 100%);
  }

  @include media-desktop {
    padding: 159px 0 96px;
    clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
  }
}

.price-table__container {
  position: relative;
  border-collapse: collapse;
  width: 100%;

  @include media-mobile-only {
    left: 50%;
    width: calc(100% * 3);
    transform: translateX(-50%);
    margin-bottom: 41px;
  }
}

.price-table__header {
  color: $white;
  text-transform: uppercase;
  background-color: $price-table-header-bg;
  width: calc(100% / 4);
  padding: 12px 0;

  &:not(:last-child) {
    border-right: 2px solid $basic-border-color;
  }

  &--hit {
    position: relative;
    overflow: hidden;
  }

  &--hit::before {
    content: "Хит";
    position: absolute;
    top: 18px;
    left: -26px;
    font-weight: $font-weight-thin;
    text-transform: uppercase;
    background-color: $basic-accent-color;
    padding: 0 40px;
    transform: rotate(-45deg);
  }

  &--transparent {
    background-color: transparent;
  }

  @include media-mobile-only {
    width: calc(100% / 3);
    padding: 13px 0 32px;
  }

  @include media-tablet {
    &--hit::before {
      top: 15px;
      left: -32px;
      line-height: $line-height-s;
    }
  }

  @include media-desktop {
    padding: 14px 0 20px;
  }
}

.price-table__tariff-name {
  @include font-params($font-size-m, $font-weight-bold, $line-height-m);
  margin: 0;

  @include media-desktop {
    font-size: $font-size-l;
    line-height: $line-height-l;
  }
}

.price-table__tariff-value {
  @include font-params($font-size-l, $font-weight-thin);
  margin: 0;

  @include media-desktop {
    font-size: $font-size-2xl;
    line-height: $line-height-l;
  }
}

.price-table__tariff-includes {
  font-weight: $font-weight-normal;
  text-align: left;
  border: 2px solid $basic-border-color;
  background-color: $price-table-body-bg;
  padding: 7px 16px;

  @include media-desktop {
    font-size: $font-size-l;
    padding-left: 21px;
  }
}

.price-table__includes-text {
  margin: 0;
}

.price-table__tariff-item {
  border: 2px solid $basic-border-color;
  background-color: $price-table-body-bg;
  padding: 14px 17px 16px;

  @include media-mobile-only {
    position: relative;

    &::before {
      content: attr(data-tariff);
      position: absolute;
      text-transform: uppercase;
      top: 46%;
      left: 21px;
      transform: translateY(-50%);
    }
  }

  @include media-tablet {
    padding-top: 7px;
    padding-bottom: 9px;
  }

  @include media-desktop {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.price-table__item-icon {
  height: 29px;
  margin: 0;
  background-position: center right;
  background-repeat: no-repeat;

  &--yes {
    background-image: url("../img/icons/yes.svg");
  }

  &--no {
    background-image: url("../img/icons/no.svg");
  }

  @include media-tablet {
    background-position: center;
  }
}

@include media-mobile-only {
  .price-table__no-mobile {
    display: none;
  }
}

.price-table__pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include media-tablet {
    display: none;
  }
}

.price-table__bullet {
  @include button-reset;
}
