// Price Table

.price-table {
  padding: 100px 0 50px;
  background-color: $page-section-bg-color;
  overflow: hidden;
}

.price-table__container {
  position: relative;
  border-collapse: collapse;
  width: 100%;

  @include media-mobil-only {
    left: 50%;
    width: calc(100% * 3);
    transform: translateX(-50%);
  }
}

.price-table__header {
  color: $white;
  text-transform: uppercase;
  background-color: $price-table-header-bg;
  width: calc(100% / 4);
  padding: 12px 0;

  &:not(:last-child) {
    border-right: 2px solid $basic-border-color;
  }

  &--hit {
    position: relative;
    overflow: hidden;
  }

  &--hit::before {
    content: "Хит";
    position: absolute;
    top: 12px;
    left: -30px;
    font-weight: $font-weight-thin;
    text-transform: uppercase;
    background-color: $basic-accent-color;
    padding: 0 40px;
    transform: rotate(-45deg);
  }

  &--transparent {
    background-color: transparent;
  }

  @include media-mobil-only {
    width: calc(100% / 3);
    padding: 20px 0 30px;
  }
}

.price-table__tariff-name {
  @include font-params($font-size-m, $font-weight-bold);
  margin: 0;

  @include media-desktop {
    font-size: $font-size-l;
    line-height: $line-height-l;
  }
}

.price-table__tariff-value {
  @include font-params($font-size-l, $font-weight-thin);
  margin: 0;

  @include media-desktop {
    font-size: $font-size-2xl;
    line-height: $line-height-l;
  }
}

.price-table__tariff-includes {
  border: 2px solid $basic-border-color;
  background-color: $price-table-body-bg;
  padding: 10px 16px;

  @include media-desktop {
    font-size: $font-size-l;
  }
}

.price-table__includes-text {
  margin: 0;
}

.price-table__tariff-item {
  border: 2px solid $basic-border-color;
  background-color: $price-table-body-bg;
  padding: 15px 17px;

  @include media-mobil-only {
    position: relative;

    &::before {
      content: attr(data-tariff);
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }
  }

  @include media-tablet {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  @include media-desktop {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.price-table__item-icon {
  height: 29px;
  background-position: center right;
  background-repeat: no-repeat;

  &--yes {
    background-image: url("../img/icons/yes.svg");
  }

  &--no {
    background-image: url("../img/icons/no.svg");
  }

  @include media-tablet {
    background-position: center;
  }
}

@include media-mobil-only {
  .price-table__no-mobil {
    display: none;
  }
}

.price-table__pagination {
  text-align: center;

  @include media-tablet {
    display: none;
  }
}

.price-table__bullet {
  @include button-reset;
}
