// Publish

@include media-except-desktop {
  .publish__inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.publish__form {
  background-color: $page-section-bg-color;
  padding: 20px 20px 40px;

  @include media-tablet {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 300px 1fr;
    column-gap: 45px;
    padding: 55px 20px;
  }

  @include media-desktop {
    column-gap: 90px;
    padding: 57px 60px 57px 80px;
  }
}

@include media-tablet {
  .publish__media-preview {
    grid-row: 1 / -1;
  }
}

.publish__prev-image {
  display: block;
  width: 100%;
}

.publish__filters {
  border: none;
  padding: 0;
  margin: 0;

  @include media-mobile-only {
    border-bottom: 1px solid $publish-border-color;
    margin-bottom: 40px;
  }
}

.publish__filters-nav {
  display: none;

  @include media-mobile-only {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 42px 20px 34px;
  }
}

.publish__nav-button {
  @include button-reset;
  color: rgba($basic-text-color, 0.3);
  transition: color 0.25s;

  &:hover {
    color: rgba($basic-text-color, 0.5);
  }

  &:active {
    color: $basic-accent-color;
  }

  &--active {
    color: $basic-accent-color;
  }

  &:not(:last-child) {
    margin-right: 33px;
  }
}

.publish__nav-icon {
  display: block;
}

.publish__filter-range {
  padding: 20px 0;
  margin: 0;

  @include media-mobile-only {
    display: none;

    &--active {
      display: block;
    }
  }

  @include media-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $basic-border-color;
    padding-right: 18px;
  }
}

.publish__filter-icon {
  display: none;
  color: $basic-accent-color;

  @include media-tablet {
    display: block;
    margin-right: 28px;
  }

  @include media-desktop {
    width: 48px;
    height: 48px;
  }
}

.publish__control-wrap {
  width: 100%;
}

.publish__control {
  appearance: none;
  width: 100%;
  background: transparent;
  margin: 0;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background-color: $basic-text-color;
    border: none;
    border-radius: 0;
  }

  &::-moz-range-track {
    width: 100%;
    height: 2px;
    background-color: $basic-text-color;
    border: none;
    border-radius: 0;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    background: $white;
    border: 2px solid $basic-accent-color;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin-top: -6px;
  }

  &:focus::-webkit-slider-thumb {
    background: $basic-accent-color;
  }

  &::-moz-range-thumb {
    background: $white;
    border: 2px solid $basic-accent-color;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-top: -6px;
  }

  &:focus::-moz-range-thumb {
    background: $basic-accent-color;
  }
}

.publish__submit {
  @include media-tablet {
    padding: 0 2px;
  }

  @include media-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
}

.publish__upload-button {
  color: $basic-accent-color;
  border-color: $basic-accent-color;
  margin-bottom: 12px;
  transition: all 0.25s;

  &:hover {
    background-color: $basic-accent-color;
    color: $white;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  @include media-tablet {
    margin-bottom: 24px;
    max-width: 260px;
  }

  @include media-desktop {
    margin-bottom: 0;
    max-width: 183px;
  }
}

.publish__cancel-button {
  color: $cancel-button-color;
  border-color: $cancel-button-color;
  transition: all 0.25s;

  &:hover {
    color: $transparent-gray;
    border-color: $transparent-gray;
  }

  &:active {
    color: rgba($white, 0.3);
    border-color: transparent;
    background-color: $transparent-gray;
  }

  @include media-tablet {
    max-width: 260px;
  }

  @include media-desktop {
    max-width: 183px;
  }
}
