// Reviews

.reviews {
  padding: 44px 0 39px;

  @include media-tablet {
    padding: 40px 0 18px;
  }

  @include media-desktop {
    padding: 72px 0 33px;
  }
}

.reviews__inner {
  @include media-desktop {
    position: relative;
  }
}

.reviews__list {
  @include list-reset;
}

.reviews__item {
  display: none;

  &--active {
    display: block;
  }
}

.reviews__user-blockquote {
  display: flex;
  flex-direction: column;
  line-height: $line-height-l;
  text-align: center;
  margin: 0;
  margin-bottom: 34px;

  @include media-tablet {
    margin-bottom: 39px;
  }

  @include media-desktop {
    position: relative;
    padding: 112px 125px 0 125px;
    margin-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 79px;
      height: 63px;
      transform: translateX(-50%);
      background-image: url("../img/icons/quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.reviews__user-blockquote p {
  margin: 0;
  margin-bottom: 20px;

  @include media-mobile-only {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include media-tablet {
    font-size: $font-size-l;

    &:last-of-type {
      margin-bottom: 36px;
    }
  }
}

.reviews__blockquote-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;

  @include media-mobile-only {
    order: -1;
    margin-bottom: 16px;
  }
}

.reviews__author-name {
  @include font-params($font-size-l, $font-weight-bold);
  color: $black;

  @include media-tablet {
    font-size: $font-size-xl;
    line-height: $line-height-m;
  }

  @include media-desktop {
    font-size: $font-size-2xl;
    margin-bottom: 3px;
  }
}

.reviews__author-meta {
  @include media-mobile-only {
    display: none;
  }

  @include media-desktop {
    font-size: $font-size-l;
  }
}

.reviews__navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 47%;

  @include media-except-desktop {
    display: none;
  }
}

.reviews__nav-button {
  @include button-reset;
  position: absolute;
  top: 0;
  color: rgba($basic-text-color, 0.3);
  background-color: transparent;
  transition: color 0.25s;

  &:hover {
    color: rgba($basic-text-color, 0.6);
  }

  &:active {
    color: rgba($basic-text-color, 0.1);
  }

  &--prev {
    left: 10px;
  }

  &--next {
    right: 10px;
  }
}

.reviews__nav-icon {
  display: block;
}

.reviews__pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include media-desktop {
    display: none;
  }
}

.reviews__bullet {
  @include button-reset;
}
