// Reviews

.reviews {
  padding: 50px 0 40px;
}

.reviews__inner {
  @include media-desktop {
    position: relative;
  }
}

.reviews__list {
  @include list-reset;
}

.reviews__item {
  display: none;

  &--active {
    display: block;
  }
}

.reviews__user-blockquote {
  display: flex;
  flex-direction: column;
  line-height: $line-height-l;
  text-align: center;
  margin: 0;

  @include media-desktop {
    position: relative;
    padding: 100px 125px 0 125px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 79px;
      height: 63px;
      transform: translateX(-50%);
      background-image: url("../img/icons/quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.reviews__blockquote-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;

  @include media-mobil-only {
    order: -1;
  }
}

.reviews__author-name {
  @include font-params($font-size-l, $font-weight-bold);
  color: $black;
}

.reviews__author-meta {
  @include media-mobil-only {
    display: none;
  }
}

.reviews__navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;

  @include media-except-desktop {
    display: none;
  }
}

.reviews__nav-button {
  @include button-reset;
  position: absolute;
  top: 0;
  background-color: transparent;

  &--prev {
    left: 10px;
  }

  &--next {
    right: 10px;
  }
}

.reviews__nav-icon {
  display: block;
  color: $blue-grey;
  opacity: 0.3;
}

.reviews__pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include media-desktop {
    display: none;
  }
}

.reviews__bullet {
  @include button-reset;
  display: block;
  width: 6px;
  height: 6px;
  background-color: $transparent-gray;
  border-radius: 50%;

  &--active {
    background-color: $white;
    box-shadow: 0 0 0 3px $dark-border-color;
  }

  &:not(:last-child) {
    margin-right: 19px;
  }
}
