// Reviews

.reviews {
  padding: 50px 0 40px;
}

.reviews__list {
  @include list-reset;
}

.reviews__item {
  display: none;

  &--active {
    display: block;
  }
}

.reviews__user-blockquote {
  display: flex;
  flex-direction: column;
  line-height: $line-height-l;
  text-align: center;
  margin: 0;
}

.reviews__blockquote-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;

  @media screen and (max-width: $mobile-width-only) {
    order: -1;
  }
}

.reviews__author-name {
  @include font-params($font-size-l, $font-weight-bold);
  color: $black;
}

.reviews__author-meta {
  @media screen and (max-width: $mobile-width-only) {
    display: none;
  }
}

.reviews__navigation {
  position: absolute;

  @media screen and (max-width: $tablet-and-mobile-width) {
    display: none;
  }
}

.reviews__pagination {
  text-align: center;

  @media screen and (min-width: $desktop-width) {
    display: none;
  }
}
