// Socials

.social-links {
  @include list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-links__item:not(:last-child) {
  margin-right: 8px;

  @media screen and (min-width: $tablet-width) {
    margin-right: 5px;
  }
}

.social-links__icon {
  display: block;
}
