// Socials

.social-links {
  @include list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-links__item:not(:last-child) {
  margin-right: 8px;

  @include media-tablet {
    margin-right: 5px;
  }
}

.social-links__link {
  display: flex;
  width: 54px;
  height: 54px;
  border: 3px solid $socials-border-color;
  border-radius: 50%;
}

.social-links__icon {
  display: block;
  margin: auto;
  color: $basic-accent-color;
}
