// Text Container

.text-container {
  line-height: 30px;
  text-align: center;
  padding: 44px 0 38px;

  @include media-tablet {
    font-size: $font-size-l;
    padding: 91px 0 72px;

    &--catalog-pp {
      padding-top: 64px;
    }
  }

  @include media-desktop {
    &--catalog-pp {
      padding-top: 58px;
      padding-bottom: 67px;
    }
  }
}

.text-container__inner {
  padding: 0 20px;
}

.text-container p {
  margin: 0;
}

.text-container__mobile-hidden {
  @include media-mobile-only {
    display: none;
  }
}
