// Text Container

.text-container {
  line-height: 30px;
  text-align: center;
  padding: 50px 0;

  @include media-tablet {
    font-size: $font-size-l;
  }
}

.text-container__inner {
  padding: 0 20px;
}

.text-container p {
  margin: 0;
}
