// Title Bar

.titlebar {
  color: $white;
  padding: 94px 0 44px;
  min-height: 237px;
  background-color: $titlebar-bg;
  background-position: top center;
  background-repeat: no-repeat;

  @include media-mobile-only {
    background-image: url("../img/content/back-mobile.jpg");
    background-size: 100%;

    @include media-2x {
      background-image: url("../img/content/back-mobile@2x.jpg");
    }
  }

  @include media-tablet {
    padding: 177px 0 59px;
    min-height: 440px;
    background-image: url("../img/content/back-tablet.jpg");

    @include media-2x {
      background-image: url("../img/content/back-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @include media-desktop {
    padding: 169px 0 89px;
    min-height: auto;
    background-image: url("../img/content/back-desktop.jpg");

    @include media-2x {
      background-image: url("../img/content/back-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.titlebar__header {
  @include font-params($font-size-2xl, $font-weight-thin, $line-height-xl);
  text-align: center;
  margin: 0;

  @include media-tablet {
    font-size: $font-size-5xl;
    line-height: $line-height-5xl;
  }
}
