// Глобальные стили

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  @include visually-hidden;
}

.inner {
  width: 100%;
  max-width: $desktop-width;
  padding: 0 20px;
  margin: 0 auto;

  @include media-desktop {
    padding: 0 10px;
  }
}
