// Примеси

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin font-params($fs: $font-size-base, $fw: $font-weight-normal, $lh: $line-height-base) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin button-reset {
  font-family: inherit;
  font-size: inherit;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin media-mobile-only {
  @media screen and (max-width: $mobile-width-only) {
    @content;
  }
}

@mixin media-except-desktop {
  @media screen and (max-width: $except-for-desktop) {
    @content;
  }
}

@mixin media-tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin media-desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin media-2x {
  @media screen and (min-resolution: 2dppx) {
    @content;
  }
}
