// Переменные

$min-width: 320px;
$mobile-width-only: 659px;
$tablet-width: 660px;
$tablet-and-mobile-width: 959px;
$desktop-width: 960px;

$main-font: "Open Sans", "Trebuchet MS", sans-serif;

$font-size-base: 14px;
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-2xl: 24px;
$font-size-3xl: 30px;
$font-size-4xl: 40px;
$font-size-5xl: 50px;

$line-height-base: 24px;
$line-height-s: 18px;
$line-height-m: 28px;
$line-height-l: 30px;
$line-height-xl: 33px;
$line-height-2xl: 36px;
$line-height-3xl: 48px;
$line-height-4xl: 54px;
$line-height-5xl: 68px;

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Цветовая система

$white: #ffffff;
$black: #000000;
$lightest-grey: #f2f2f2;
$light-grey: #e5e5e5;
$blue-grey: #283645;
$dark-blue-grey: #1d2631;
$pink: #d22856;
$cold-green: #2aab6d;
$apple-green:#3dc644;
$orange: #f25b26;

$transparent-black: rgba($black, 0.3);

$basic-text-color: $blue-grey;
$basic-link-color: $pink;
$basic-button-color: $cold-green;
$basic-accent-color: $pink;
$basic-border-color: $light-grey;
$page-section-bg-color: $lightest-grey;

$page-header-bg: $blue-grey;
$titlebar-bg: $blue-grey;
$promo-screen-bg: $blue-grey;
$download-app-bg: $dark-blue-grey;
$price-table-header-bg: $blue-grey;
$price-table-body-bg: $white;
$contest-caption-color: $pink;
$contest-label-color: $pink;
$pic-info-bg: $lightest-grey;
$publish-border-color: rgba($blue-grey, 0.1);
$cancel-button-color: rgba($blue-grey, 0.1);
