// Переменные

$min-width: 320px;
$mobile-width-only: 659px;
$tablet-width: 660px;
$desktop-width: 960px;

$main-font: "Open Sans", "Trebuchet MS", sans-serif;
$basic-font-size: 14px;

$white: #FFFFFF;
$black: #000000;

$basic-lightgrey: #F2F2F2;
$basic-darkgrey: #283645;
$basic-pink: #D22856;

$extra-darkgrey: #1D2631;
$border-grey: #E5E5E5;
