// Переменные

$min-width: 320px;
$mobile-width-only: 659px;
$tablet-width: 660px;
$desktop-width: 960px;

$main-font: "Open Sans", "Trebuchet MS", sans-serif;
$basic-font-size: 14px;

$white: #ffffff;
$black: #000000;

$basic-lightgrey: #f2f2f2;
$basic-darkgrey: #283645;
$basic-pink: #d22856;
$basic-green: #2aab6d;

$extra-darkgrey: #1d2631;
$border-grey: #e5e5e5;
